- if @team.errors.any?
  .alert.alert-warning
    = t('teams.invalid')
    %ul
      - @event.errors.full_messages.each do |error|
        %li= error

= form_for @team do |f|
  .form-group
    = f.label :name, t('teams.name')
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :logo, t('teams.logo')
    = f.file_field :logo, class: 'form-control'
  .form-group
    = f.label :color, t('teams.color')
    = f.text_field :color, class: 'form-control'
  .form-group
    = f.label :description, t('teams.description')
    = f.text_area :description, class: 'form-control'

  = f.submit class: 'btn btn-primary'