.container.content
  - if @teams.empty?
    %center= t('teams.none')
  .row
    - @teams.each do |team|
      .col-4
        .card{width: '100%'}
          = link_to select_team_path(team), method: :post do
            %img.card-img-top{src: team.logo.url}
          .card-body
            = link_to select_team_path(team), method: :post do
              %h4.card-title= team.name
            %p.card-text= team.description
          .card-footer
            %small.text-muted= t('teams.members.count', count: team.members.count)