= render 'header', team: @team

.container.content
  .row
    - if current_user.can? :edit, @team
      .col-4
        .card
          = form_tag add_member_team_path(@team), method: :post do
            .card-body
              .input-group
                %span.input-group-addon /u/
                = text_field_tag :user, '', class: 'form-control'
            .card-footer
              = submit_tag t('teams.members.add'), class: 'btn btn-primary', name: 'member'
              = submit_tag t('teams.members.add_manager'), class: 'btn btn-danger', name: 'manager'
    - @members.each do |user|
      .col-4
        .card
          .card-body
            %h4.card-title= user.display_name
            %p.card-text.text-muted= @managers.include?(user) ? t('teams.role.manager') : t('teams.role.member')
          - if current_user.can? :edit, @team
            .card-footer
              = link_to t('teams.members.remove'), remove_member_team_path(@team, user: user), method: :delete