= form_for @event do |f|
  .form-group
    = f.label :name, t('events.name')
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :reddit_id, t('events.reddit_id')
    = f.text_field :reddit_id, class: 'form-control'
  .form-group
    = f.label :description, t('events.description')
    = f.text_area :description, class: 'form-control'

  = f.submit class: 'btn btn-primary'