= render 'teams/header', team: current_team

.container.content
  .row
    - if current_user.can? :create, Event.new(team: current_team)
      .col-12
        .card.event-card.creation-card.text-center
          .card-body
            - if @events.empty?
              %center= t('events.none')
            = link_to t('events.create'), new_event_path, class: 'btn btn-primary'
    - @events.order_by(:created_at => :desc).each do |event|
      .col-12
        .card.event-card
          .card-body
            = link_to event do
              %h4.card-title= event.name
            %p.card-text= event.description
            = link_to t('events.view_reddit'), event.reddit_url, class: 'card-link'
          .card-footer.text-muted= detail_for_event(event)