!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title lively
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'partials/navbar'
    - if !flash[:notice].blank?
      .alert.alert-info
        = flash[:notice]
    - if !flash[:alert].blank?
      .alert.alert-warning
        = flash[:alert]

    = yield
